{% extends 'base.html.twig' %}

{% block title %}Voir les informations de paiement{% endblock %}

{% block body %}

    <section class="container w-75 mx-auto my-5">
        <h1 class="text-center mb-3">Choix formule + paiement via STRIPE</h1>

        <div class="row">
            <div class="col-4">
                <a href="#" class="btn btn-primary">FORMULE TEST</a>
            </div>
            <div class="col-4">
                <a href="#" class="btn btn-primary">FORMULE PRO</a>
            </div>
            <div class="col-4">
                <a href="#" class="btn btn-primary">FORMULE VIP</a>
            </div>
        </div>
    </section>

{% endblock %}