{% extends 'base.html.twig' %}

{% block title %}Voir les informations produit{% endblock %}

{% block body %}

    <section class="container mx-auto my-5">
        <div class="card text-center w-50 mx-auto">
            <div class="card-header">
                <h5 class="card-title">Produit n°{{ product.id }}</h5>
            </div>
            <div class="card-body">                
                <p class="card-text mb-4">Formule: {{ product.type }}</p>
                <p class="card-text">Description: {{ product.description }}</p>         
            </div>
            <div class="card-footer">
                <p class="card-text"><mark>Prix: {{ product.typeprice }} €</mark></p>
            </div>
        </div>
    </section>

{% endblock %}

