  <!-- Site footer -->
  <footer>
    <div class="foot-logo">
          <img src="{{ asset('assets/img/GEOPV_logo.png') }}" class="foot-logo-pub" alt="geopv logo" />
    </div>
    <div class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h5>À propos</h5>
              <p class="site-footer-p">GEOPV.FR est une application crée par Renergies filiale<i> du groupe EcoTrade. </i>GeoPV reste un service permettant de faciliter l'acquisition des données sur les cadastres et les zones urbaines à partir d'une localisation précisée dans un outil de recherche cartographique.</p>
            </div>

            <div class="col-xs-6 col-md-3">
              <h5>Liens</h5>
              <ul class="footer-links">
                <li><a href="#presentation">Services</a></li>
                <li><a href="#atouts">Atouts</a></li>
                <li><a href="#fonctionnement">Fonctionnement</a></li>
                <li><a href="#prix">Offres</a></li>
              </ul>
            </div>

            <div class="col-xs-6 col-md-3">
              <h5>Site Map</h5>
              <ul class="footer-links">
                <li><a href="#apropos">À propos</a></li>
                <li><a href="http://www.geopv.fr/contact/">Nous contacter</a></li>              
                <li><a href="http://www.geopv.fr/politique-de-confidentialite/">Politique de confidentialité</a></li>
                <li><a href="http://www.geopv.fr/mentions-legales/">Mentions légales</a></li>
              </ul>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <img src="{{ asset('assets/img/ecotrade_logo.png') }}" alt="ecotrade logo" class="logo_ecotrade" />            
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                <li><a class="linkedin" href="https://fr.linkedin.com/company/renergies" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="facebook" href="https://facebook.com/company/renergies" target="_blank"><i class="fa fa-facebook"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="text-center pb-3">
            <p class="copyright-text">Copyright &copy; 2022 Tous droits réservés par le groupe EcoTrade.</p>
          </div>
        </div>
    </div>
  </footer>